<style>
    .navbar {
        background-color: #87CEEB !important;
    }

    .navbar-brand {
        font-size: 30px;
        margin-left: 10px;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 127vh;
        background-color: #F0F8FF;
    }

    .logo {
        width: 120px;
        /* Increased logo size */
        height: auto;
        margin-bottom: 20px;
    }


    .button-group {
        display: flex;
        gap: 100px;
    }

    .people-icons {
        object-fit: cover;
        height: 180px;
        width: 300px;
    }

    .main-btn {
        color: white;
        font-size: 18px;
        font-weight: bold;
        width: 7vw;
        height: 50px;
    }

    .navbar-nav {
        color: #2A3D45 !important;
        font-size: 25px;
        font-weight: bold;
        cursor: pointer;
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .quem-somos {
        text-align: center;
    }
    
    .quem-somos img {
        width: 100%;
        max-width: 600px;
        margin-bottom: 20px;
    }
    
    .quem-somos h1 {
        font-size: 2.5rem;
        color: #0077cc;
        margin-bottom: 20px;
    }
    
    .quem-somos p {
        font-size: 1.5rem;
        line-height: 1.6;
        margin-bottom: 15px;
    }

 p {
    text-align: justify; /* Justifica o texto */
}

.quem-somos {
    margin: 200px; /* Margem ao redor da seção */
}
</style>

<nav class="navbar navbar-expand-lg" style="border-bottom: 5px solid #137EB9;">
    <div class="container-fluid ms-5">
        <img src="autism-ribbon.png" class="mx-2" alt="Autism Ribbon" height="36"> <!-- Increased height -->
        <a class="navbar-brand">AutiCare</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" aria-current="page" href="/landing">Home</a>
                <a class="nav-link" href="/about">Sobre</a> 
                <a class="nav-link">Funcionalidades</a>
                <a class="nav-link">Quem somos nós</a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid position-relative">
    <div class="position-absolute top-0 end-0 mt-3 me-3">
        <a style="text-decoration: none;" href="/help">
            <div class="text-center">
                <img src="question.svg" height="50" alt="Help">
                <br>
                <span class="fs-5 fw-semibold text-secondary">Ajuda</span>
            </div>
        </a>
    </div>
</div>

<div class="main-content">
    <main>
        <section class="quem-somos">
            <img src="hands-about-us.jpeg" alt="Banner de Mãos Coloridas">
            <h1><b>Quem somos nós</b></h1>
            <p>Somos um grupo de alunos do Centro Universitário Facens, atualmente cursando o quarto semestre de Análise e Desenvolvimento de Sistemas. Neste semestre, desenvolvemos nosso projeto na disciplina de Startup One, onde nosso objetivo foi criar uma ferramenta inovadora para um problema real. Assim nasceu o AutiCare, um chatbot projetado para apoiar pessoas com Transtorno do Espectro Autista (TEA), seus cuidadores, familiares e profissionais de saúde.</p>
            <p>Nosso foco é oferecer uma plataforma acessível e eficiente que permita a todos os envolvidos com o TEA receberem orientações personalizadas e suporte contínuo. O AutiCare fornece funcionalidades como tratamento de crises, recomendações sobre alimentação e medicamentos, informações sobre instituições de apoio, e ideias de comunicação com portadores de TEA. Além disso, é possível acessar artigos e documentos relacionados ao TEA, assim como acompanhar notícias recentes sobre o tema.</p>
            <p>Nosso compromisso é facilitar o cuidado e melhorar a qualidade de vida das pessoas com TEA, utilizando tecnologia para criar um ambiente de suporte e informações confiáveis.</p>
        </section>
    </main>
    <footer>
        <img src="rainbow-people.svg" class="people-icons" alt="Rainbow People" />
    </footer>

    