<div class="d-flex flex-column vh-100">
    <div class="d-flex justify-content-between align-items-center"
        style="background-color: #87CEEB; border-bottom: 5px solid #137EB9; padding: 10px;">
        <div class="d-flex align-items-center">
            <img src="autism-ribbon.png" alt="Auticare Logo" height="36" class="me-2">
            <span class="navbar-brand mb-0 h1">Auticare</span>
        </div>
        <div class="d-flex flex-grow-1">
            <div class="bg-dark text-white p-3" style="width: 250px;">
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a class="nav-link text-white" href="#">Voltar ao Menu Inicial</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a class="nav-link text-white" href="#">Chat</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a class="nav-link text-white" href="#">Artigos e Documentos</a>
                    </li>
                </ul>
            </div>
        </div>
        <h1>Noticias: </h1>
    </div>
</div>