<nav class="navbar navbar-expand-lg" style="background-color: #87CEEB; border-bottom: 5px solid #137EB9;">
    <div class="container-fluid ms-5">
        <img src="autism-ribbon.png" class="mx-2" alt="Autism Ribbon" height="36">
        <a class="navbar-brand fs-2">AutiCare</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav w-100 justify-content-around">
                <a class="nav-link fs-4 fw-bold" aria-current="page" href="/landing">Home</a>
                <a class="nav-link fs-4 fw-bold" href="/about">Sobre</a>
                <a class="nav-link fs-4 fw-bold" href="/funcionalidades">Funcionalidades</a>
                <a class="nav-link fs-4 fw-bold" href="/about-us">Quem somos nós</a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid position-relative">
    <div class="position-absolute top-0 end-0 mt-3 me-3">
        <a class="text-decoration-none" href="/help">
            <div class="text-center">
                <img src="question.svg" height="50" alt="Help">
                <br>
                <span class="fs-5 fw-semibold text-secondary">Ajuda</span>
            </div>
        </a>
    </div>
</div>

<div class="container-fluid d-flex align-items-center" style="background-color: #F0F8FF; min-height: calc(100vh - 70px);">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-5">
            <img src="menino.png" class="img-fluid" alt="menino simbolo autism" style="max-height: 450px; object-fit: cover;" />
        </div>
        <div class="col-md-5">
            <h1 class="display-5 fw-bold mb-5" style="color: #137EB9;">AutiCare - Sobre</h1>
            <p class="fs-4" style="color: #2A3D45;">O "AutiCare" é um chatbot interativo e de fácil utilização, criado para auxiliar pessoas com Transtorno do Espectro Autista (TEA), seus cuidadores e interessados. Ele ajuda na comunicação, fornece informações sobre tratamentos e sugere locais de apoio especializado, promovendo a compreensão dos diferentes níveis e sinais precoces do transtorno.</p>
        </div>
        <div class="col-md-10 text-center mt-3">
            <img src="rainbow-people.svg" class="img-fluid" alt="Rainbow People" style="height: 80px; width: 180px; object-fit: cover;" />
        </div>
    </div>
</div>